
body{
    background-color: rgb(183, 201, 207);
    text-align: center;
    color:white;
    font-family: verdana;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

article{
    font-size: 20px;
}
nav{
    color: black;
}
footer{
    color:black;